/* Global Glycerine Viewer styles */
.gv-field {
    margin-bottom: 1rem;
}

.gv-field-label {
    font-size: 0.8em;
    font-weight: bold;
}

/* Annotorious styles */
.rdwb-ano-shape .a9s-outer {
    display: none;
}

.rdwb-ano-shape.outline-normal .a9s-inner {
    stroke: #506DAC;
}

.rdwb-ano-shape.outline-light .a9s-inner {
    stroke: #A9BCE3;
}

.rdwb-ano-shape.outline-dark .a9s-inner {
    stroke: #1E3E82;
}

.a9s-annotation .a9s-inner:hover, .a9s-selection .a9s-inner:hover {
    stroke: #fff000 !important;
}

.a9s-annotation.selected .a9s-inner, .a9s-selection .a9s-inner {
    stroke: #fff000 !important;
}

/* Point Annotation styles */
.rdwb-ano-shape.a9s-annotation.a9s-point .a9s-outer, .rdwb-ano-shape.a9s-annotation.a9s-point .a9s-inner {
    display: inline !important;
}

.rdwb-ano-shape.a9s-annotation.a9s-point.outline-normal .a9s-outer {
    fill: #506DAC;
}

.rdwb-ano-shape.a9s-annotation.a9s-point.outline-light .a9s-outer {
    fill: #A9BCE3;
}

.rdwb-ano-shape.a9s-annotation.a9s-point.outline-dark .a9s-outer {
    fill: #1E3E82;
}

.rdwb-ano-shape.a9s-annotation.a9s-point .a9s-outer {
    stroke: #ffffff;
}

.rdwb-ano-shape.a9s-annotation.a9s-point .a9s-outer:hover {
    fill: #fff000 !important;
}

.rdwb-ano-shape.a9s-annotation.a9s-point.selected .a9s-outer {
    fill: #fff000 !important;
}

/* Override the PrimeVue dialog mask z-index to fix the dropdown panel issue */
.p-dialog-mask {
    z-index: 1000 !important;
}
