/* Global Glycerine Viewer styles */
.gv-field {
    margin-bottom: 1rem;
}

.gv-field-label {
    font-size: 0.8em;
    font-weight: bold;
}

/* Annotorious styles */
.rdwb-ano-shape .a9s-outer {
    display: none;
}

.rdwb-ano-shape.outline-normal .a9s-inner {
    stroke: #506DAC;
}

.rdwb-ano-shape.outline-light .a9s-inner {
    stroke: #A9BCE3;
}

.rdwb-ano-shape.outline-dark .a9s-inner {
    stroke: #1E3E82;
}

.ano-layer-fill-0 .a9s-annotation .a9s-inner {
    fill-opacity: 0;
}

.ano-layer-fill-10 .a9s-annotation .a9s-inner {
    fill-opacity: 0.1;
}

.ano-layer-fill-20 .a9s-annotation .a9s-inner {
    fill-opacity: 0.2;
}

.ano-layer-fill-30 .a9s-annotation .a9s-inner {
    fill-opacity: 0.3;
}

.ano-layer-fill-40 .a9s-annotation .a9s-inner {
    fill-opacity: 0.4;
}

.ano-layer-fill-50 .a9s-annotation .a9s-inner {
    fill-opacity: 0.5;
}

.ano-layer-fill-60 .a9s-annotation .a9s-inner {
    fill-opacity: 0.6;
}

.ano-layer-fill-70 .a9s-annotation .a9s-inner {
    fill-opacity: 0.7;
}

.ano-layer-fill-80 .a9s-annotation .a9s-inner {
    fill-opacity: 0.8;
}

.ano-layer-fill-90 .a9s-annotation .a9s-inner {
    fill-opacity: 0.9;
}

.ano-layer-fill-100 .a9s-annotation .a9s-inner {
    fill-opacity: 1;
}

.a9s-annotation .a9s-inner:hover, .a9s-selection .a9s-inner:hover {
    stroke: #fff000 !important;
}

.a9s-annotation.selected .a9s-inner, .a9s-selection .a9s-inner {
    stroke: #fff000 !important;
}

.a9s-annotation.highlighted .a9s-inner, .a9s-selection.highlighted .a9s-inner {
    fill-opacity: 0.2 !important;
}

.a9s-annotation.play-highlight .a9s-inner {
    stroke: #fff000 !important;
}

/* Point Annotation styles */
.rdwb-ano-shape.a9s-annotation.a9s-point .a9s-outer, .rdwb-ano-shape.a9s-annotation.a9s-point .a9s-inner {
    display: inline !important;
}

.rdwb-ano-shape.a9s-annotation.a9s-point.outline-normal .a9s-outer {
    fill: #506DAC;
}

.rdwb-ano-shape.a9s-annotation.a9s-point.outline-light .a9s-outer {
    fill: #A9BCE3;
}

.rdwb-ano-shape.a9s-annotation.a9s-point.outline-dark .a9s-outer {
    fill: #1E3E82;
}

.rdwb-ano-shape.a9s-annotation.a9s-point .a9s-outer {
    stroke: #ffffff;
}

.rdwb-ano-shape.a9s-annotation.a9s-point .a9s-outer:hover {
    fill: #fff000 !important;
}

.rdwb-ano-shape.a9s-annotation.a9s-point.selected .a9s-outer {
    fill: #fff000 !important;
}

/* Override the PrimeVue dialog mask z-index to fix the dropdown panel issue */
.p-dialog-mask {
    z-index: 1000 !important;
}

/* Annotation content styles */
.gv-annotation-content img {
    max-width: 100%;
    height: auto;
}

.gv-annotation-content video {
    max-width: 100%;
    height: auto;
}

.gv-annotation-content audio {
    width: 100%;
}

.gv-annotation-content table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.gv-annotation-content th,
.gv-annotation-content td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

.gv-annotation-content th {
    background-color: #f8f9fa;
    font-weight: bold;
}
